<?xml version="1.0" encoding="utf-8"?>
<!--
This configuration file is for server configuraiton.
Current version is 1.1.0.4
-->
<service_list>
  <service type="file">
    <database>SMT</database>
    <netserver_ip>10.129.127.50</netserver_ip>
    <netdisk_rootpath>\\10.129.127.50\monitor\REQUEST\</netdisk_rootpath>
    <reply_folder>\\10.129.127.50\monitor\REPLY\</reply_folder>
    <other_folder1>
    </other_folder1>
    <other_folder2>
    </other_folder2>
    <netdisk_user>fms_test</netdisk_user>
    <netdisk_pwd>fms_test</netdisk_pwd>
    <instance_class>Compal.FMS.FT.SMTClient</instance_class>
    <interval>4000</interval>
    <netfolder_check>Y</netfolder_check>
    <maxprcfiles>10</maxprcfiles>
    <filtertype>*.TXT</filtertype>
    <line_name>ASSYA</line_name>
    <section_name>ASSYA</section_name>
    <group_name>ASSYA</group_name>
    <station_name>ASSYA</station_name>
  </service>
  <service type="file">
    <database>A31</database>
    <netserver_ip>10.129.127.50</netserver_ip>
    <netdisk_rootpath>\\10.129.127.50\monitor\AFT\Request</netdisk_rootpath>
    <reply_folder>\\10.129.127.50\monitor\AFT\REPLY</reply_folder>
    <other_folder1>\\10.129.127.50\monitor\OTHER1</other_folder1>
    <other_folder2>
    </other_folder2>
    <netdisk_user>fms_test</netdisk_user>
    <netdisk_pwd>fms_test</netdisk_pwd>
    <instance_class>Compal.FMS.FT.A31AFTClient</instance_class>
    <interval>4000</interval>
    <netfolder_check>Y</netfolder_check>
    <maxprcfiles>10</maxprcfiles>
    <filtertype>*.STS</filtertype>
    <line_name>ASSYA</line_name>
    <section_name>ASSYA</section_name>
    <group_name>ASSYA</group_name>
    <station_name>ASSYA</station_name>
  </service>
  <service type="socket">
    <database>A31</database>
    <instance_class>Compal.FileMonitor.FT.SMTFTClient</instance_class>
    <port_number>5089</port_number>
    <line_name>ASSYA</line_name>
    <section_name>ASSY</section_name>
    <group_name>ASSYA</group_name>
    <station_name>ASSYA</station_name>
  </service>
</service_list>